body {
  color: limegreen;
  background-color: black;
}

p{
  color:#000000;
  opacity:25%
}

.scanlines-overlay {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100dvh;
  z-index:1;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.12) 0px,
    rgba(255,255,255,0.12) 2px,
    rgba(255,255,255,0) 2px,
    rgba(255,255,255,0) 6px
  );
  /* opcional: para que o texto fique “normal” sobre a overlay: */
  color: limegreen;
  font-family: 'VT323', monospace;
}
.scanlines-overlay h1,
.scanlines-overlay p {
  margin: 0;
  padding: 1rem;
}

#texto{
  white-space: pre-line;
}

#logo{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom:0;
  right: 0;
  z-index: 3;
  opacity: 50%;
}

